body {
    font-size: 15pt;
}
.image {
  border-radius: 50%;
  object-fit: contain;
}
.image-name {
  color: burlywood;
  font-weight: bold;
  font-family: fantasy;
}
.image-author{
  font-weight: lighter;
  color: rosybrown;
}
.header{
  font-size: 30px;
  font-variant: normal;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
.background2{
  background-color: black;
  color: white;
}

.background3{
  background-color: #674833;
}

.outter{
  position: relative;
}
.inner{
  position: absolute;
  top: 100%;
  right: 0%;
  bottom: 0%;
  left:0%;
}
.para{
  font-size: 15px;
  color: antiquewhite;
}
.para1{
  font-size: 25px;
  color: white;
}
.burly{
  color: burlywood;
}

.nav-item{
  margin: 10px;
}

.foot{
  color: #d5bbaa;
  text-align: right;
  justify-content: space-evenly;
}
.header2{
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.csc{
 font-size: 15px;
}
.foot2{
  text-align: right;
}
.coll{
  background-color: black;
  text-align: center;
  color:white;
  font-weight: lighter;
  font-size: 12px;
}
